<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="StartCom Dev">
      <meta charset="utf-8">
      <title><%= title %></title>
      <link rel="stylesheet" href="stylesheets/menu.css">
      <link rel="stylesheet" href="stylesheets/style.css">
      <link rel="shortcut icon" href="img/fundo_branco.jpg" type="image/x-icon">
      <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div class="brand">
        <a href="#">
          <img src="images/sem_fundo.png" alt="Logo da StartCom">
        </a>
      </div>
      <div id="menu">
        <div>
          <a href="#">CONTATO</a>
        </div>
      </div>
    </nav>
    <section>
      <img src="images/sem_fundo.png" alt="Logo da StartCom" class="logo">

      <h1>Bem vindo à bordo da StartCom</h1>
      <h3>Estamos desenvolvendo um mundo para você!</h3>
    </section>
  </body>
</html>
