nav {
    display: flex;
    flex-direction: row;
    margin-top: -1%;
    justify-content: space-between;
    margin-right: 1.5%;
    margin-left: 1.5%;
    border-bottom-color: 2px solid #222;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    color: #222;
  }
  
  a:hover {
    color: #919191;
  }
  
  .menu {
    display: flex;
  }
  
  .menu a {
    margin: 2px;
  }
  
  .brand {
      width: 20%;
      height: 20%;
  }