*{
  font-family: 'Raleway', sans-serif;
  background-color: #f4f4f4;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 25%;
  height: 25%;
  margin-top: 10%;
  margin-bottom: 5%;
}

@media screen and (max-width: 700px){
  section {
      text-align: center;
  }
  h1 {
      margin: 5%;
  }
}